_pycache_/
*._pycache_
node_modules/
*.py[cod]
*$py.class
.vscode/

# Virtual environments
venv/
env/
.venv/
.env/
.env

# Python-specific caches and logs
.pytest_cache/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover

# Logs and temp files
*.log
*.tmp